.container .wrap {
    overflow: hidden;
    position: relative;
}

#ticker {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    color: #000;

    span {
        padding: 0 10px 0;
        white-space: nowrap;
    }

    span.currencies {
        color: #000044;
    }

    span.value {
        padding-left: 2px;
        color: #FE9A00;
    }

    span.quote {
        margin: 0;
        padding-left: 5px;
    }
}