.vc_om-testimonials{
	border: none;
	.om-item-text {
		font-size: 120%;
		color: #fff;
	}
	//.om-item-author{
	//	color: #b2b2b2;
	//	font-style: italic;
	//}
	&::after{
		display: none;
	}
	.vc_om-testimonials-controls a::before:hover{
		background-color: transparent;
	}
}
.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center {
	padding-right: 80px;
	border-right: 1px solid grey;
}
