#career-position{
    width: 100%;
padding: 8px 5px;
    font-size: 16px;
    option{
    }
}

#career-cv{
    position: relative;
    &:before{
        content: 'Choose file';
        max-width: 100px;
        max-height: 35px;
        background-color: $primary-color;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        padding: 9px 15px;
    }
}