.vc_om-detail-box {
	margin-bottom: 40px !important;
	margin-top: 40px !important;
	padding: 0 10px;
	text-align: center;
	.title {
		text-transform: uppercase;
		text-align: center;
		&::after {
			content: '';
			display: block;
			padding: 5px 0;
			margin: 0 100px;
			border-bottom: 1px solid $primary-color;
		}
	}
	.detail-button {
		text-align: center;
		text-transform: uppercase;
		a {
			cursor: pointer;
			color: #fff;
			padding: 10px 20px;
			background-color: $primary-color;
			&:hover {
				text-decoration: none;
				background-color: #9bd42c;
			}
		}
	}
	border: 1px solid #8c8c8c;

}

